
cn/adb.exe
cn/avcodec-58.dll
cn/scrcpy-noconsole.exe
cn/AdbWinApi.dll
cn/AdbWinUsbApi.dll
cn/avformat-58.dll
cn/scrcpy.exe
cn/avutil-56.dll
cn/ip
cn/scrcpy-server
cn/SDL2.dll
cn/swresample-3.dll
cn/swscale-5.dll
cn/上次的IP
en/adb.exe
en/last_ip
en/AdbWinApi.dll
en/ip
en/masscan.exe
en/scan.bat
en/scrcpy-noconsole.exe
en/scrcpy-server
en/scrcpy.exe
en/AdbWinUsbApi.dll
en/avcodec-58.dll
en/avformat-58.dll
en/avutil-56.dll
en/SDL2.dll
en/swresample-3.dll
en/swscale-5.dll
